src/python
.env
.terraform
python
bundle.zip
infra/.terraform.tfstate.lock.info
infra/terraform.tfstate
infra/terraform.tfstate.backup
layer_bundle*.zip
.DS_Store
src/layers/*/Pipfile.lock
test.json
test*.json
test2.json
.serverless
node_modules
