src/python
.env
.terraform
python
bundle.zip
src/requirements.txt
infra/.terraform.tfstate.lock.info
infra/terraform.tfstate
infra/terraform.tfstate.backup
layer_bundle*.zip
.DS_Store
src/layers/*/Pipfile.lock

