[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
yfinance = "*"
scipy = "*"
pygithub = "*"
uvicorn = "*"
fastapi = "*"
pytrade = "*"
pyetrade = "*"
alpaca-trade-api = "*"
pydantic = "*"

[requires]
python_version = "3.7"
